<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header('Examen Final')}"></head>
<body>
<th:block th:replace="~{fragments/menu :: menu}"></th:block>

<div class="container mt-3" style="min-height: calc(100vh - 100px);">
    <th:block layout:fragment="content">
        <div class="alert alert-warning">Sin contenido</div>
    </th:block>
</div>

<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>